.header {
  z-index: 0;
  background-color: #cbd1cd;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.heading {
  display: flex;
  color: purple;
  margin: 5px 0rem 5px 10px;
}